*{
   margin: 0  ;
   padding: 0;
   box-sizing: border-box;
}
/* shared style */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* main style  */
header{
    background-color: aquamarine;
    padding-top:50px;
}
nav{
    display:flex;
    justify-content: space-between;
    width: 83%;
    max-width: 1140px;
    /* border: 1px solid blue; */
    margin: 0px auto;
    align-items: center;
}
nav .logo
{
    font-size: 45px;
    font-weight: bolder;
}
.color-logo{
    color:#FD6E0A;
}
nav .menu a{
    font: 24px;
    color: #474747;
    text-decoration: none;
}
nav .menu{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
}
.btn{
    color: white;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
   padding: 18px 35px;
   font-size: 20px;
   font-weight: bold;
}