*{
   margin: 0  ;
   padding: 0;
   box-sizing: border-box;
}
/* shared style */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* main style  */
header{
    background: url(../images/developer.png),url(../images/header_bg.png) , antiquewhite;
    background-position: top left,bottom right;
    background-repeat: no-repeat;
    padding-top:50px;
}
nav{
    display:flex;
    justify-content: space-between;
    width: 83%;
    max-width: 1140px;
    /* border: 1px solid blue; */
    margin: 0 auto;
    align-items: center;
}
nav .logo
{
    font-size: 45px;
    font-weight: bolder;
}
.color-logo{
    color:#FD6E0A;
}
nav .menu a{
    font: 24px;
    color: #474747;
    text-decoration: none;
}
nav .menu{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
}
.btn{
    color: white;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
   padding: 18px 35px;
   font-size: 20px;
   font-weight: bold;
   cursor: pointer;
}
#hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 65px 54px 0 214px;
}
#hero .hero-content{
    max-width: 585px;
}
#hero .hero-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#hero .hero-content h1{
    font-size: 85px;
    font-weight: bold;
    color:black;
    margin-bottom: 20px;
}
#hero .hero-content p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
#hero .hero-img img{
    max-width: 584px;
    vertical-align: middle;
}

